{% extends 'music_nation/base.html' %}

{%block title%}
{%endblock%}
{%block content%}

<hr/>
<div class="container">
    <h3 class="fw-bolder fs-3 text">ABOUT MUSIC NATION</h5>
    <div class="m-2">
        <p-text-muted>
            MUSIC NATION is your local music store providing top quality instruments and music lessons for all ages/skill levels. We feature talented instructors of diverse backgrounds that can help you, or your child, master your choice of musical instrument. 

We take pride in providing the music industry’s best brands and consistently update our stock and selections to provide our customers with only the best. We also feature a fun collection of gift ideas for serious and not-so-serious presents: all sorts of knick knacks your favorite musician can enjoy!

        </p-text-muted>
    </div>

</div>

{%endblock%}
