<h1>OUR SERVICES</h1>
<div class="row">
    <div class="col">
        Would you like to learn to sing?  Play guitar or piano?  Perhaps you’d even like to learn an orchestral instrument?  We offer all of the above.  Contact us today to schedule your first lesson!  With a wide variety of instructors, rates, and flexible scheduling, we can you have up and playing in no time!  Keeping in mind, of course, that practice makes perfect!

    </div>
    <div class="col">
        We offer fantastic rental/rent to own options so our customers can enjoy a quality instrument right from the beginning. We believe it is important for students to start with a quality instrument, so they don’t get frustrated and lose interest before developing the ability to properly play.

    </div>
    <div class="col">
        We invest in research and quality control in all instruments that we offer. In Store we have a specialized selection of instruments/accessories, and can also order any custom orders you might be interested in. As your friendly neighborhood music store, our staff are happy to help our customers with all their musical needs. Come see us for a true musical instrument experience!



    </div>
</div>